<form action="" method="POST" class="js-checkout-form checkout-form">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                     <i class="fa fa-user"></i>
                 </span>
                <input data-stripe="name" class="form-control" type="text" autocomplete="off" id="card-name" required placeholder="Card Holder Name"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                     <i class="fa fa-credit-card"></i>
                 </span>
                <input data-stripe="number" type="text" autocomplete="off" class="form-control js-cc-number" id="card-number" required placeholder="Card Number"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-sm-offset-2 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                     <i class="fa fa-calendar-o"></i>
                 </span>
                <input data-stripe="exp" type="text" size="4" autocomplete="off" class="form-control js-cc-exp" id="card-expiration" required="required" placeholder="mm/yy"/>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                     <i class="fa fa-lock"></i>
                 </span>
                <input data-stripe="cvc" type="text" size="4" autocomplete="off" class="form-control js-cc-cvc" id="card-cvc" required="required" placeholder="CVC"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-3 col-sm-offset-2 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                     <i class="fa fa-map-marker"></i>
                 </span>
                <input type="text" autocomplete="off" class="form-control" id="card-zip" placeholder="Zip"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 text-center">
            <div class="alert alert-danger js-checkout-error hidden"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 text-center">
            <button type="submit" class="js-submit-button btn btn-lg btn-danger">
                Checkout
            </button>
        </div>
    </div>
</form>
